{% extends 'courses/base.html' %}
{% block content %}
<h1>Register</h1>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
        {% comment %} <label for="confirm password"></label> {% endcomment %}
    </div>
    <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select name="role" id="role" class="form-control">
            <option value="student">Student</option>
            <option value="instructor">Instructor</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}